@{
    Layout = null;
}

@{
    ViewBag.Title = "RequestDifferentLot";
}


<div class="col-md-9 col-sm-12">
    <h3>Request Different Lot</h3>

    <h4>ViewData["userId"]= @ViewData["userId"]</h4>
    <h4>$scope.Request_customerId={{Request_customerId}}</h4>
    <h4>$scope.Request_lotNumber={{Request_lotNumber}}</h4>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive img-thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?center=San%20Diego&amp;zoom=12&amp;size=400x300&key=AIzaSyB-3kz-QkLEJOJCIfaQA6GIJ33UAZOLkew">
                </div>
                <div class="col-md-8">
                    <h2>Choose a different lot</h2>
                    <h4>Downtown San Diego Locations</h4>
                    <h5>1324 - Harbor Station Dr</h5>
                    <h5>1324 - Harbor Station Dr</h5>
                    <h5>1324 - Harbor Station Dr</h5>
                    <h5>1324 - Harbor Station Dr</h5>
                </div>
            </div>
        </div>
    </div>

</div>